.start-page-block {
    width: 100%;

    .start-page__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .player-number {
        position: absolute;
        left: 100px;
    }
    .logo {
        width: 266px;
        height: 210px;
    }
}